<div class="button-container " id="profile-films-actions">
    <button type="button" class="button btn-watched-outline is-hidden " id="js-btn-watched">Watched</button>
    <button type="button" class="button btn-queue-outline is-hidden " id="js-btn-queue">Queue</button>
</div>