$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #ff6b08;
$secondary-accent-color: #ff6b01;
$error-color: #ff001b;
$secondary-bg-color: #f7f7f7;
$primary-modal-bg-color: #fefefe;
$vote-color: #8c8c8c;
$additional-color: #545454;
