.logo {
  text-decoration: none;

  &-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    color: $secondary-color;
    font-family: 'Roboto', sans-serif;
    transition: color 250ms linear;

    &:hover {
      color: $accent-color;
      animation-duration: 2.5s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
    }
  }
}

svg {
  transition: color 250ms linear;
}
svg:hover path {
  stroke: $accent-color;
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.15) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}
