.pagination {
  &-container {
    // mixins
    // display: flex;
    // justify-content: center;
    @include flex(center);
    // margin: 0 auto;
    margin-top: 50px;
  }

  &-btns {
    @include flex(center);
    height: 40px;
    padding: 0 10px;
    min-width: 200px;
    // position: relative;
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    background-color: transparent;

    &:not(:last-child) {
      margin-right: 16px;
    }
    &:hover,
    &:focus {
      min-width: 40px;
      height: 40px;
      background-color: $accent-color;
      color: $secondary-color;
      transition-duration: 500ms;
    }
    &:active {
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    }
  }

  &-button.current-page {
    width: 40px;
    height: 40px;
    background-color: $accent-color;
    color: $secondary-color;
    margin-right: 16px;
  }
}

.arrow-btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: $secondary-bg-color;
  border-radius: 5px;
  border: none;
  outline: none;
}
.arrow-btn:hover {
  background-color: $accent-color;
  color: $secondary-color;
}
.arrow-btn:focus {
  border: 1px solid #0000004d;
}
.arrow-btn:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
}

.current-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 40px;
  height: 40px;
  background-color: $accent-color;
  color: $accent-color;
  margin-right: 16px;
}
.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;

  &:hover {
    background-color: $accent-color;
    color: $secondary-color;
  }
  &:focus {
    border: 1px solid #0000004d;
  }
  &:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
  }
}
.interval {
  margin-right: 16px;
  font-size: 30px;
}
.hidden {
  display: none;
}
.dots {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  height: fit-content;
}
